.table {
  width: 100%;
  border-collapse: collapse;
  margin: 40px 0 40px 0;
}

.first {
  border-top-left-radius: 16px;
}

.pagination {
  display: flex;
  margin-top: 12px;
  column-gap: 12px;
}

.last {
  border-top-right-radius: 16px;
}

.buttongroup {
  display: flex;
  column-gap: 12px;
}

th, td {
  padding: 12px;
  text-align: left;
}

th {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
}

tr:nth-child(even) {
  background: rgba(255, 255, 255, 0.1);
}

tr:nth-child(odd) {
  background: rgba(255, 255, 255, 0.05);
}